@page
@model Server.Pages.Admin.Pages.DetailsModel

@{
    var pageTitle =
        $"{Resources.ButtonCaptions.Details} {Resources.DataDictionary.Page}";

    ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<section-form>
    <fieldset disabled>
        <section-form-header>
            @(pageTitle)
        </section-form-header>

        <partial name="PartialViews/_DisplayPageMessages" />

        <dtat-readonly-input asp-for="ViewModel.Id" />

        <dtat-readonly-input asp-for="ViewModel.Title" />

        <dtat-readonly-input asp-for="ViewModel.Author" />

        <dtat-readonly-textarea asp-for="ViewModel.Body" />

        <dtat-readonly-textarea asp-for="ViewModel.Description" />

        <dtat-readonly-textarea asp-for="ViewModel.Introduction" />

        <dtat-readonly-input asp-for="ViewModel.LayoutId" />

        <dtat-readonly-input asp-for="ViewModel.Category" />

        <dtat-readonly-input asp-for="ViewModel.ImageUrl" />

        <dtat-readonly-input asp-for="ViewModel.Ordering" />

        <dtat-readonly-input asp-for="ViewModel.Password" />

        <dtat-readonly-input asp-for="ViewModel.Copyright" />

        <dtat-readonly-input asp-for="ViewModel.Classification" />

        <dtat-readonly-input asp-for="ViewModel.PublishStartDateTime" />

        <dtat-readonly-input asp-for="ViewModel.PublishFinishDateTime" />

        <dtat-readonly-input asp-for="ViewModel.InsertDateTime" />

        <dtat-readonly-input asp-for="ViewModel.UpdateDateTime" />

        <dtat-readonly-checkbox asp-for="ViewModel.IsActive" />

        <dtat-readonly-checkbox asp-for="ViewModel.DisplayCreatorUser" />

        <dtat-readonly-checkbox asp-for="ViewModel.IsCommentingEnabled" />

        <dtat-readonly-checkbox asp-for="ViewModel.IsFeatured" />

        <dtat-readonly-checkbox asp-for="ViewModel.HasAttachment" />

        <dtat-readonly-checkbox asp-for="ViewModel.DoesSearchEnginesIndexIt" />

        <dtat-readonly-checkbox asp-for="ViewModel.DoesSearchEnginesFollowIt" />
    </fieldset>
    <section-form-footer>
        <a asp-page="Index">
            @(Html.DtatGetLinkCaptionForList())
        </a>
        <a asp-page="Update" asp-route-id="@(Model.ViewModel.Id)">
            @(Html.DtatGetLinkCaptionForUpdate())
        </a>
        <a asp-page="Delete" asp-route-id="@(Model.ViewModel.Id)">
            @(Html.DtatGetLinkCaptionForDelete())
        </a>
    </section-form-footer>
</section-form>
