@page
@model Server.Pages.Admin.Pages.UpdateModel

@{
    var pageTitle =
        $"{Resources.ButtonCaptions.Update} {Resources.DataDictionary.Page}";

    ViewData[Infrastructure.ViewDataKeyNames.PageTitle] = pageTitle;
}


<form method="post">

    <section-form>

		<fieldset>
			<section-form-header>
				@(pageTitle)
			</section-form-header>

			<partial name="PartialViews/_DisplayPageMessages" />

			<input type="hidden" asp-for="ViewModel.Id" />

			    <section-form-field>
                <label asp-for="ViewModel.Title"></label>
                <input asp-for="ViewModel.Title" />
                <span asp-validation-for="ViewModel.Title"></span>
            </section-form-field>

            <section-form-field>
                <label asp-for="ViewModel.Author"></label>
                <input asp-for="ViewModel.Author" />
                <span asp-validation-for="ViewModel.Author"></span>
            </section-form-field>

            <section-form-field>
                <label asp-for="ViewModel.Body"></label>
                <textarea asp-for="ViewModel.Body" />
                <span asp-validation-for="ViewModel.Body"></span>
            </section-form-field>

            <section-form-field>
                <label asp-for="ViewModel.Description"></label>
                <textarea asp-for="ViewModel.Description" />
                <span asp-validation-for="ViewModel.Description"></span>
            </section-form-field>

            <section-form-field>
                <label asp-for="ViewModel.Introduction"></label>
                <textarea asp-for="ViewModel.Introduction" />
                <span asp-validation-for="ViewModel.Introduction"></span>
            </section-form-field>

            <section-form-field>
                <label asp-for="ViewModel.LayoutId"></label>
                <input asp-for="ViewModel.LayoutId" />
                <span asp-validation-for="ViewModel.LayoutId"></span>
            </section-form-field>

            <section-form-field>
                <label asp-for="ViewModel.Category"></label>
                <input asp-for="ViewModel.Category" />
                <span asp-validation-for="ViewModel.Category"></span>
            </section-form-field>

            <section-form-field>
                <label asp-for="ViewModel.ImageUrl"></label>
                <input asp-for="ViewModel.ImageUrl" />
                <span asp-validation-for="ViewModel.ImageUrl"></span>
            </section-form-field>

            <section-form-field>
                <label asp-for="ViewModel.Ordering"></label>
                <input asp-for="ViewModel.Ordering" />
                <span asp-validation-for="ViewModel.Ordering"></span>
            </section-form-field>

            <section-form-field>
                <label asp-for="ViewModel.Password"></label>
                <input asp-for="ViewModel.Password" type="password" />
                <span asp-validation-for="ViewModel.Password"></span>
            </section-form-field>

            <section-form-field>
                <label asp-for="ViewModel.Copyright"></label>
                <input asp-for="ViewModel.Copyright" />
                <span asp-validation-for="ViewModel.Copyright"></span>
            </section-form-field>

            <section-form-field>
                <label asp-for="ViewModel.Classification"></label>
                <input asp-for="ViewModel.Classification" />
                <span asp-validation-for="ViewModel.Classification"></span>
            </section-form-field>

            <section-form-field>
                <label asp-for="ViewModel.PublishStartDateTime"></label>
                <input asp-for="ViewModel.PublishStartDateTime" type="datetime" />
                <span asp-validation-for="ViewModel.PublishStartDateTime"></span>
            </section-form-field>

            <section-form-field>
                <label asp-for="ViewModel.PublishFinishDateTime"></label>
                <input asp-for="ViewModel.PublishFinishDateTime" type="datetime" />
                <span asp-validation-for="ViewModel.PublishFinishDateTime"></span>
            </section-form-field>

            <section-form-check>
                <input asp-for="ViewModel.IsActive" />
                <label asp-for="ViewModel.IsActive"></label>
            </section-form-check>

            <section-form-check>
                <input asp-for="ViewModel.DisplayCreatorUser" />
                <label asp-for="ViewModel.DisplayCreatorUser"></label>
            </section-form-check>

            <section-form-check>
                <input asp-for="ViewModel.IsCommentingEnabled" />
                <label asp-for="ViewModel.IsCommentingEnabled"></label>
            </section-form-check>

            <section-form-check>
                <input asp-for="ViewModel.IsFeatured" />
                <label asp-for="ViewModel.IsFeatured"></label>
            </section-form-check>

            <section-form-check>
                <input asp-for="ViewModel.HasAttachment" />
                <label asp-for="ViewModel.HasAttachment"></label>
            </section-form-check>

            <section-form-check>
                <input asp-for="ViewModel.DoesSearchEnginesIndexIt" />
                <label asp-for="ViewModel.DoesSearchEnginesIndexIt"></label>
            </section-form-check>

            <section-form-check>
                <input asp-for="ViewModel.DoesSearchEnginesFollowIt" />
                <label asp-for="ViewModel.DoesSearchEnginesFollowIt"></label>
            </section-form-check>

		</fieldset>

		<section-form-buttons>
			<button-save />
			<button-reset />
		</section-form-buttons>

        <section-form-footer>
			<a asp-page="Index">
				@(Html.DtatGetLinkCaptionForList())
			</a>
			<a asp-page="Details" asp-route-id="@(Model.ViewModel.Id)">
				@(Html.DtatGetLinkCaptionForDetails())
			</a>
			<a asp-page="Delete" asp-route-id="@(Model.ViewModel.Id)">
				@(Html.DtatGetLinkCaptionForDelete())
			</a>
		</section-form-footer>

    </section-form>
</form>
